ul.socialnet
{
    list-style: none;
    background-color: white;
    padding: 0;
    margin: 0;
    top: 52%;
    left: 2%;
    position: fixed;
}

li.itemsocialnet:hover
{
    border: 1px solid;
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 6px;
    -webkit-transition:0.5s;
    -webkit-transform:rotate(360deg);
}
