<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html lang="en" class="no-js"><!--<![endif]-->

<head>
    <!-- Your Basic Site Informations -->
    <title>ProductiveSense Companies | Senseta</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Tu herramienta de Productividad personal. Controla tu tiempo y hazlo productivo.">
    <meta name="keywords"
          content="Tools, Productivity, My productive time, Tiempo de trabajo,  Herramienta, Productividad, Mi tiempo productivo, Tiempo de trabajo">
    <meta name="author" content="senseta.com">
    <!-- Improve the website's preview on facebook-->
    <meta property="og:url" content="https://productivesense.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Productivesense"/>
    <meta property="og:description"
          content="ProductiveSense is the most advanced and simple time management system available."/>
    <meta property="og:image" content="https://productivesense.com/images/productivesense/image-ps-howitwork.jpg"/>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="..css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Custom Colors -->
    <link rel="stylesheet" href="..css/color.css">

    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->

    <noscript>
        <link rel="stylesheet" href="css/no-js.css">
    </noscript>
    <!-- Favicons -->
    <link rel="shortcut icon" href="images/productivesense/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/productivesense/productivesense_96x96.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/productivesense/productivesense_128x128.png">
</head>
<!-- Google Tag Manager --> <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-KSQNTTF');</script> <!-- End Google Tag Manager -->
<body>
    <!-- Google Tag Manager (noscript) --> <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSQNTTF" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> <!-- End Google Tag Manager (noscript) -->

<div id="features" class="padding-top80">
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row padding-bottom100" style="padding-bottom:50px;">
            <div class="post-heading-left text-center-sm text-center-md text-center-lg">
                <h2 mc-bind="LANG.COMPANIES.SECT3.TL" class="ng-isolate-scope"><span class="ng-scope">Algunos Casos de Éxito de ProductiveSense</span></h2>
                <p mc-bind="LANG.COMPANIES.SECT3.DC" class="ng-isolate-scope"><span class="ng-scope">Estos son algunos de los nuestros casos de Éxito</span></p>
            </div>

            <div class="col-sm-4"> <!-- 1 -->
                <div class="affa-feature-img">
                    <img style="border: 8px solid rgba(54, 71, 96, 0.18);" src="images/productivesense/image4-ps-benefits.jpg" alt="image4-productivesense-benefits">
                    <!-- <h4>Customers Support</h4> -->
                    <p mc-bind="LANG.COMPANIES.SECT3.IT1" class="ng-isolate-scope"><span class="ng-scope">Cómo ProductiveSense fue la solución para implementar el Teletrabajo.</span></p>
                    <a class="smooth-scroll ng-isolate-scope" mc-bind="LANG.GENERAL.READMORE" href="#successfulcase1"><span class="ng-scope">Leer Más</span></a>
                </div>
            </div>

            <div class="col-sm-4"> <!-- 2 -->
                <div class="affa-feature-img">
                    <img style="border: 8px solid rgba(54, 71, 96, 0.18);" src="images/productivesense/image5-ps-benefits.jpg" alt="image5-productivesense-benefits">
                    <!-- <h4>Elegant Design</h4> -->
                    <p mc-bind="LANG.COMPANIES.SECT3.IT2" class="ng-isolate-scope"><span class="ng-scope">Cómo PorductiveSense logró medir y comparar la productividad de una compañía</span></p>
                    <a class="smooth-scroll ng-isolate-scope" mc-bind="LANG.GENERAL.READMORE" href="#successfulcase2"><span class="ng-scope">Leer Más</span></a>
                </div>
            </div>

            <div class="col-sm-4"> <!-- 3 -->
                <div class="affa-feature-img">
                    <img style="border: 8px solid rgba(54, 71, 96, 0.18);" src="images/productivesense/image6-ps-benefits.jpg" alt="image6-productivesense-benefits">
                    <!-- <h4>Fully Customizable</h4> -->
                    <p mc-bind="LANG.COMPANIES.SECT3.IT3" class="ng-isolate-scope"><span class="ng-scope">Cómo ProductiveSene impactó los ingresos de una Firma de Abogados</span></p>
                    <a class="smooth-scroll ng-isolate-scope" mc-bind="LANG.GENERAL.READMORE" href="#successfulcase3"><span class="ng-scope">Leer Más</span></a>
                </div>
            </div>

            <!-- .row -->
            <div id="successfulcase1" class="row padding-top-bottom border-bottom">
                <div class="col-sm-6 col-md-5 margin-bottom40" style="margin-top: 50px;">
                    <figure>
                        <img style="border: 8px solid rgba(54, 71, 96, 0.18);" src="images/productivesense/image4-ps-benefits.jpg" alt="image4-productivesense-benefits">
                    </figure>
                </div>
                <div class="col-sm-6 col-md-7 col-lg-6 col-lg-offset-1 margin-bottom20">
                    <div class="">
                        <div class="post-heading-left post-heading-top-desc margin-bottom20">
                            <h2 mc-bind="LANG.COMPANIES.SECT4.TL" class="ng-isolate-scope"><span class="ng-scope">Implementar el Teletrabajo</span></h2>
                        </div>
                        <p mc-bind="LANG.COMPANIES.SECT4.PROBL" class="ng-isolate-scope"><strong class="ng-scope">Problema:</strong><span class="ng-scope"> Una compañía de tecnología, había explorado diferentes formas de implementar el teletrabajo como política. Estaba convencida que esto impactaría positivamente el ambiente laboral y la tasa de retención del Talento Humano. Sin embargo la preocupación de que la productividad bajara estaba siempre presente.</span></p>
                        <p mc-bind="LANG.COMPANIES.SECT4.SOLUC" class="ng-isolate-scope"><strong class="ng-scope">Solución:</strong><span class="ng-scope"> PorductiveSense resultó ser la mejor opción para medir la productividad de los empleados sin importar donde se encuentren. El Teblero (Dashboard) le permite a cada usuario monitorear su propio desempeño e indicadores y saber si su trabajo cumple las metas del equipo. Los indicadores le permiten al director, tener una visión completa de cada empleado y tomar medidas correctivas en el momento justo.</span></p>
                    </div>
                </div>
            </div>

            <!-- .row -->
            <div id="successfulcase2" class="row padding-top-bottom border-bottom">
                <div class="col-sm-6 col-md-5 margin-bottom40" style="margin-top: 50px;">
                    <figure><img style="border: 8px solid rgba(54, 71, 96, 0.18);" src="images/productivesense/image5-ps-benefits.jpg" alt="image5-productivesense-benefits">
                    </figure>
                </div>
                <div class="col-sm-6 col-md-7 col-lg-6 col-lg-offset-1 margin-bottom20">
                    <div class="">
                        <div class="post-heading-left post-heading-top-desc margin-bottom20">
                            <h2 mc-bind="LANG.COMPANIES.SECT5.TL" class="ng-isolate-scope"><span class="ng-scope">Medir y Comparar la Productividad</span></h2>
                        </div>
                        <p mc-bind="LANG.COMPANIES.SECT5.PROBL" class="ng-isolate-scope"><strong class="ng-scope">Problema:</strong><span class="ng-scope"> Una compañía de telecomunicaciones buscaba una forma de medir cuantitativamente la productividad. Todas las otras soluciones implicaban una gran cantidad de trabajo adicional, cargando y actualizando datos, obligando a la compañía a designar un equipo especifico. Además el resultado era siempre era una medición con un fuerte peso cualitativo, que no permitía la comparación de diferentes equipos en diferentes áreas y tiempos.</span></p>
                        <p mc-bind="LANG.COMPANIES.SECT5.SOLUC" class="ng-isolate-scope"><strong class="ng-scope">Solución:</strong><span class="ng-scope"> PorductiveSense le permitió a esta compañía, crear categorías estandarizadas, para actividades sumamente diferentes (por ejemplo, mercadeo y soporte IT) para medir la productividad, así como recoger data cuantitativa de forma sistemática y establecer comparaciones entre equipos diferentes. Cada gerente de área pudo encargarse directamente de administrar la aplicación y producir reportes periódicos, sin dedicar más de 1h a la semana.</span></p>
                    </div>
                </div>
            </div>
            <!-- .row end -->

            <!-- .row -->
            <div id="successfulcase3" class="row padding-top-bottom">
                <div class="col-sm-6 col-md-5 margin-bottom40" style="margin-top: 50px;">
                    <figure><img style="border: 8px solid rgba(54, 71, 96, 0.18);" src="images/productivesense/image6-ps-benefits.jpg" alt="image6-productivesense-benefits"></figure>
                </div>

                <div class="col-sm-6 col-md-7 col-lg-6 col-lg-offset-1 margin-bottom20">
                    <div class="">
                        <div class="post-heading-left post-heading-top-desc margin-bottom20">
                            <h2 mc-bind="LANG.COMPANIES.SECT6.TL" class="ng-isolate-scope"><span class="ng-scope">Medir el trabajo para aumentar los ingresos.</span></h2>
                        </div>
                        <p mc-bind="LANG.COMPANIES.SECT6.PROBL" class="ng-isolate-scope"><strong class="ng-scope">Problema:</strong><span class="ng-scope"> Una firma de abogados exploraba formas de medir con precisión el tiempo que cada consultor invertía en la elaboración de documentos, así como la duración de las reuniones con clientes. Esta información es clave a la hora de facturar el tiempo invertido por trabajo. Subir la información manualmente mostró ser desgastante, y además aumentaba la aparición de errores, disputas con clientes y re-trabajo administrativo.</span></p>
                        <p mc-bind="LANG.COMPANIES.SECT6.SOLUC" class="ng-isolate-scope"><strong class="ng-scope">Solución:</strong><span class="ng-scope"> Con PorductiveSense, cada ejecutivo de cuenta configura que ventanas, aplicaciones y programas desea medir y las asocia a una “actividad” (un cliente, por ejemplo). Ahora el bufete tiene un sistema de medición exacto, objetivo y verificable, que rastrea el tiempo conjunto acumulado por cliente (de uno o más abogados) invertido en documentos, reuniones, llamdas, tareas investigativas o de documentación. Todo esto, de forma automática. La implementación fue tan exitosa, que incluso los ingresos aumentaron en un 8%. Ahora el bufete lega mide y premia a sus abogados más productivos.</span></p>
                    </div>
                </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</div>
<!-- #features end -->
<!-- #footer -->
<footer id="footer" style="background-color: #f4f4f4;">
    <!-- .container -->
    <div class="container">
        <div class="col-sm-6 conctact-section ng-binding">
            <h4 mc-bind="LANG.CONTACT.TL" class="ng-isolate-scope"><span class="ng-scope">Contactanos</span></h4>
            ps@senseta.com<br>
            Grupo Senseta, Inc. | <a href="http://senseta.com" target="_blank">www.senseta.com</a><br>
            US: 2000 University Avenue | East Palo Alto, CA 94303<br>
            COL: Calle 90 No. 11 - 13 | Bogotá, D.C, Colombia | Tel: (+57-1) 383 2256<br>
        </div>

        <div class="col-sm-6">
            <div class="socials">
                <a href="#" target="_blank" title="Facebook" class="link-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank" title="Twitter" class="link-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank" title="Google Plus" class="link-google-plus"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="container">
        <p mc-bind="LANG.GENERAL.COPYRIGHT" class="copyright ng-isolate-scope"><span class="ng-scope">© 2016 Derecho de Autor </span><a href="http://senseta.com" target="_blank" class="ng-scope">SENSETA</a><span class="ng-scope"> - Todos los derechos reservados.</span></p>
    </div>
    <!-- .container end -->
</footer>
<!-- #footer end -->

<div id="formforfree" class="static-form" style="display:none;">
    <div class="header-form">
        <ul class="header-form-heading">
            <li><h3 mc-bind="LANG.FORMSIGNUP.ITEM1" class="ng-isolate-scope"><span class="ng-scope">PRUEBALO GRATIS POR 30 DÍAS</span></h3></li>
            <li><p mc-bind="LANG.FORMSIGNUP.ITEM2" class="ng-isolate-scope"><span class="ng-scope">¿Qué esperas para potenciar tu productividad?</span></p></li>
            <li><p style="color: #973b3b;font-weight: 700;" class="ng-binding"></p></li>
        </ul>
        <form name="form_signup" style="margin: 0px auto;" ng-submit="signup(form_signup, form)" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
            <input required="" type="email" ng-model="form.email" class="required email ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" style="width: 100%;height: 60px;font-size: 18px;padding: 0px 25px;margin-bottom: 15px;" placeholder="Correo">
            <input required="" type="password" ng-model="form.password" class="required password ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" style="width: 100%;height: 60px;font-size: 18px;padding: 0px 25px;margin-bottom: 15px;" placeholder="Contraseña">
            <p class="txt-desc">
                <a href="/data/ps-terms&amp;conditions-es.pdf" target="_blank" mc-bind="LANG.FORMSIGNUP.FIELD3" class="ng-isolate-scope"><span class="ng-scope">Haciendo clik en 'Probar gratis', tu estás aceptando nuestros terminos y condiciones.</span></a>
            </p>
            <input type="submit" value="Probar Gratis" class="button" style="padding:20px; width: 100%;text-align: center;text-transform: uppercase;">
            <p class="txt-desc">
                <a href="/data/ps-terms&amp;conditions-es.pdf" target="_blank" mc-bind="LANG.GENERAL.PRIVACY" class="ng-isolate-scope"><span class="ng-scope">No compartimos tu información personal. Revisa las politicas de privacidad para mayor información.</span></a>
            </p>
        </form>
    </div>
</div>
</div>
</body>
</html>
